# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node
node_modules/
.next/
.env.local

# その他
*.log
.DS_Store

# Python Virtual Env (backend)
backend/venv/

# Next.js build & dependencies (frontend)
frontend/node_modules/
frontend/.next/
frontend/.env
